body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #a5eaf5;
}

header {
  position: relative; 
  background-color: #FF4554 ;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #496e74;
  font-size: 0.9em;
}

.home-content {
  position: relative;
}

.switch-img {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 250px;
  max-width: 25%;
  height: auto;      
  transition: transform 0.3s ease;  
  z-index: 2;            
}


.seal_img {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;  
  max-width: 25%;     
  height: auto;
  z-index: 2;
  transition: transform 0.3s ease;  
  z-index: 2;
}


.Home_icon {
  width: 40px;         
  height: auto;
  margin-left: 10px;   
  vertical-align: middle;
  transition: transform 0.3s ease;  

}

.toad_reading {
  width: 40px;         
  height: auto;
  margin-left: 10px;   
  vertical-align: middle;
  transition: transform 0.3s ease;  

}

.yoshi {
  width: 40px;         
  height: auto;
  margin-left: 10px;   
  vertical-align: middle;
  transition: transform 0.3s ease;  

}

.shyGuy {
  width: 40px;         
  height: auto;
  margin-left: 10px;   
  vertical-align: middle;
  transition: transform 0.3s ease;  

}

.NSwitch {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.Nports {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.Hdmi{
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.SwitchCont
{
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.SwitchDock{
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .switch-img {
    width: 180px;
    top: 5px;
    right: 10px;
  }
}
